.settings-container{
  height: 100%;
  width: 100%;
  margin: 0;
  border: 3px solid steelblue;
  border-radius: 20px;
  background-color: #e6e6e6;
  overflow-y: auto;
}
.settings-card{
  min-height: 70px !important;
  min-width: 220px !important;
  max-height: 70px !important;
  max-width: 220px !important;
  margin: 16px;
  border: 3px solid steelblue;
  border-radius: 12px;
  background-color: #e6e6e6;
  color: steelblue;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.settings-card:hover{
  background-color: #cccccc;
}

.settings-header{
  padding: 12px;
  max-height:  60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  border-bottom: 2px solid steelblue;
}

.dictionary-modal{
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  transition: opacity 400ms ease-in;
  display: block;
}
.dictionary-modal > div {
  width: calc(100% - 100px);
  height: 85%;
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-color: #e6e6e6;
  background: -moz-linear-gradient(#e6e6e6, #999);
  background: -webkit-linear-gradient(#e6e6e6, #999);
  background: -o-linear-gradient(#e6e6e6, #999);
}
.modal-close-button{
  border: none;
  background-color: transparent;
  padding: 2px;
  color: #6e6e6e;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200 !important;
  line-height: 0.5;
}
.modal-close-button:hover{
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
}
.modal-add-button{
  position: absolute;
  bottom: 60px;
  right: 75px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.editable-table-categories td{
  height: 56px;
  max-height: 56px;
}
.td-actions{
  text-align: end;
  height: 52px;
}
.table-actions{
  min-width: 70px;
  display: inline-block;
  text-align: end;

}
.table-action{
  display: none;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.visible-table-action{
  display: inline;
}
.visible-table-action:hover{
  background-color: #e6e6e6;
}
