<div class="alert-modal-top">
  <div>
    <div class="alert-modal-form-header col-md-12 justify-content-center">
      <img class="alert-modal-form-header-icon" src="../../../assets/images/alert.png"/>
      Предупреждение
    </div>
    <div class="alert-modal-form-body justify-content-center">
      Подтвердите удаление элемента
    </div>
    <div class="alert-modal-form-footer text-right justify-content-center">
      <button class="btn-primary alert-modal-form-footer-button" ng-click="dialog.confirm()">Удалить</button>
      <button class="btn-primary alert-modal-form-footer-button" ng-click="dialog.cancel()">Отмена</button>
    </div>
  </div>

</div>
